.app {
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(239, 219, 219);
}
.products {
  padding: 20px;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.products__single {
  height: 200px;
  padding: 20px;
  background-color: rgb(146, 105, 91);
  text-align: center;
  border-radius: 5px;
  cursor: pointer; /* Imp on clickables */
}

.products__single > img {
  width: 100%;
  height: 95%;
  object-fit: cover;
  margin-bottom: 3px;
}

.page__number__all {
  text-align: center;
  user-select: none;
}
.page__number {
  padding: 10px;
  border: 1px solid black;
  font-size: large;
  box-sizing: border-box;
  cursor: pointer;
}
.page__selected {
  background-color: rgb(146, 105, 91);
}
